<h3 class="sidebar-title">Categories</h3>
<div class="sidebar-item categories">
    <ul>
        <li><a href="/blog/Governance">Governance <span>(<%=gov%>)</span></a></li>
        <li><a href="/blog/Training">Training <span>(<%=training%>)</span></a></li>
        <li><a href="/blog/Data-Science">Data Science <span>(<%=datasci%>)</span></a></li>
        <li><a href="/blog/Business-&-Finance">Business & Finance <span>(<%=bcom%>)</span></a></li>
        <li><a href="/blog/Project-Management">Project Management <span>(<%=proj%>)</span></a></li>
        <li><a href="/blog/Cyber-Security">Cyber Security <span>(<%=cyberSec%>)</span></a></li>
    </ul>
</div>